:root{
    --main-bg-color: rgb(17, 17, 17);
    --nav-bg-color: rgb(45, 45, 45);
    --standard-margin: 2rem 12.5% 1rem 12.5%;
    --text-color: rgb(255, 255, 255);
}


body{
    background: linear-gradient(to bottom, rgb(180, 255, 58), rgb(143, 189, 26), rgb(49, 118, 0));
    color: var(--text-color);
    font-family:Arial, Helvetica, sans-serif
}

footer{
    text-align: center;
    background-color: var(--main-bg-color);
    margin: var(--standard-margin);
    padding: 1rem;
    border-radius: 2px;
}

form{
    background-color: var(--main-bg-color);
    border-radius: 5px;
    margin: var(--standard-margin);
}


nav{
    background-color: var(--nav-bg-color);
    border-radius:30px 30px 100px 100px;
    top:0;
    position: sticky;
    padding: 0 10%;
}


nav ol{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav li{
    margin: 1rem 5% 1rem 0;
    padding: 5px 5%;
    font-size: 25px;
    background-color: var(--nav-bg-color);
    border-radius: 12px;
    border: 3px solid rgb(137, 255, 47);
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
}

nav a:hover{
    color:chartreuse;
}

#titulo{
    font-size: 90px;
    display: flex;
    justify-content: center;
    margin: 1em 0 0.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:5px 7px 2px rgb(82, 190, 0);
    letter-spacing: 10px;
}

header{
    margin: var(--standard-margin);
    background-color: var(--main-bg-color);
    padding-bottom: 3rem;
    border-radius: 30px 30px 12px 12px;
}

img{
    display: block;
    width: 100%;
}

h1{
    font-size: 40px;
    padding: 1em 2em;
}

header ul{
    margin: 0 5%;
}

p{
    margin: 2em;
}

h2, h3{
    padding:0 2rem;
}

#resumen{
    margin-bottom: 4rem;
}

@media screen and (max-width:1024px){

    body{
        margin-top: 0;
    }

    header{
        margin: 0rem 0% 1rem 0%;
        padding-bottom: 1rem;
        border-radius: 20px;
    }

    h1{
        font-size: 25px;
        padding: 1em 8%;
    }

    h3{
        font-size: 15px;
        padding:0 1rem;
    }

    #titulo{
        font-size: 40px;
        display: flex;
        justify-content: center;
        margin: 1em 0 0.5em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-shadow:5px 7px 2px rgb(82, 190, 0);
        letter-spacing: 8px;
    }

    #date{
        margin: 2em 1em;
    }
    #resumen{
        margin-bottom: 2rem;
    }

    footer{
        margin: 2rem 0% 1rem 0%;
        padding: 1rem;
        border-radius: 4px;
    }

    form{
        border-radius: 5px;
        margin: 2rem 0% 1rem 0%;
    }

    nav li{
        margin: 1rem 3% 1rem 0;
        padding: 2% 4%;
        font-size: 20px;
        border-radius: 12px;
        border: 3px solid rgb(137, 255, 47);
    }

    fieldset{
        display:flex;
        flex-direction: column;
    }

    input{
        max-width: 40%;
    }

    nav{
        border-radius:0px 0px 20px 20px;
    }

}