body{
    background-color: rgb(240, 241, 239);
    color:rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif
}

nav{
    background: linear-gradient(rgb(224, 224, 224),rgb(122, 119, 119));
}

nav ol{
    list-style: none;
    display: flex;
    padding: 0;
    margin:0 ;
    justify-content: center;
}

nav li{
    margin: 1rem 2em;
    font-size: 25px;
}

nav a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

nav a:hover{
    color:rgb(243, 243, 243);
}

header{
    margin: 0 12rem;
    background: linear-gradient(rgb(122, 119, 119),rgb(95, 177, 95));
    padding-bottom: 3rem;
}

img{
    display: block;
    width: 100%;
}

h1{
    padding: 1em 2em;
}

header ul{
    margin: 0 2em;
}

p{
    margin: 2em;
}

h2, h3{
    padding:0 2rem;
}

form{
    background: linear-gradient(rgb(95, 177, 95),grey);
    border-radius: 5px;
    margin: 0 12rem;
}

footer{
    text-align: center;
    background: linear-gradient(rgb(122, 119, 119),rgb(2, 2, 2));
    margin: 0 12rem;
}