body{
    background: linear-gradient(to bottom, rgb(180, 255, 58), rgb(143, 189, 26), rgb(49, 118, 0));
    color:rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif
}

footer{
    text-align: center;
    background-color: rgb(17, 17, 17);
    margin: 0 12rem;
    
}

form{
    background-color: rgb(75, 75, 75);
    border-radius: 5px;
    margin: 0 12rem;
}

nav{
    background-color: rgb(83, 83, 83);
    border-radius:30px 30px 100px 100px;
    top:0;
    position: sticky;
}


nav ol{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav li{
    margin: 1rem 2em;
    padding: 5px 25px;
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 12px;
}

nav a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

nav a:hover{
    color:chartreuse;
}

header{
    margin: 2rem 12rem 1rem 12rem;
    background-color: rgb(17, 17, 17);
    padding-bottom: 3rem;
    border-radius: 30px;
}

img{
    display: block;
    width: 100%;
}

h1{
    padding: 1em 5em;
}

header ul{
    margin: 0 9em;
}

p{
    margin: 2em;
}

h2, h3{
    padding:0 2rem;
}

#resumen{
    margin-bottom: 4rem;
}

